In [18]:
import numpy as np
import pandas as pd
import itertools
from itertools import permutations

In [ ]:
# اول ۲۴ تایی کنم

In [85]:
# این تابع به اندازه داده هایی که میدیم میاد لیستشون میکنه و جایگشتونو درست میکنه درون یک لیست از لیست ها میده 
def Games(main_list=('A','B','C','D')):
    all_per_game=[ list(game) for game in permutations((char) for char in main_list) ]
    return all_per_game
# main=('A','B','C','D','E')
Games()

[['A', 'B', 'C', 'D'],
 ['A', 'B', 'D', 'C'],
 ['A', 'C', 'B', 'D'],
 ['A', 'C', 'D', 'B'],
 ['A', 'D', 'B', 'C'],
 ['A', 'D', 'C', 'B'],
 ['B', 'A', 'C', 'D'],
 ['B', 'A', 'D', 'C'],
 ['B', 'C', 'A', 'D'],
 ['B', 'C', 'D', 'A'],
 ['B', 'D', 'A', 'C'],
 ['B', 'D', 'C', 'A'],
 ['C', 'A', 'B', 'D'],
 ['C', 'A', 'D', 'B'],
 ['C', 'B', 'A', 'D'],
 ['C', 'B', 'D', 'A'],
 ['C', 'D', 'A', 'B'],
 ['C', 'D', 'B', 'A'],
 ['D', 'A', 'B', 'C'],
 ['D', 'A', 'C', 'B'],
 ['D', 'B', 'A', 'C'],
 ['D', 'B', 'C', 'A'],
 ['D', 'C', 'A', 'B'],
 ['D', 'C', 'B', 'A']]

In [90]:
# این میاد به اندازه همه موارد بازی ها را نام گذاری میکنه بهمون میده

def naming_games(the_game=Games()):
    all_games=[]
    for char in range(1,len(the_game)+1):
        name='GAME_'
        all_games.append('%s%i'%(name,char))
    return (all_games)
naming_games()

['GAME_1',
 'GAME_2',
 'GAME_3',
 'GAME_4',
 'GAME_5',
 'GAME_6',
 'GAME_7',
 'GAME_8',
 'GAME_9',
 'GAME_10',
 'GAME_11',
 'GAME_12',
 'GAME_13',
 'GAME_14',
 'GAME_15',
 'GAME_16',
 'GAME_17',
 'GAME_18',
 'GAME_19',
 'GAME_20',
 'GAME_21',
 'GAME_22',
 'GAME_23',
 'GAME_24']

In [94]:
# الان باید بیام دیتا فریم درست کنم ستون ها بشه  موارد بازی ها و هد بشه اسم بازی ها 

df=pd.DataFrame(Games())
df.T

  0  1  2  3  4  5  6  7  8  9   ... 14 15 16 17 18 19 20 21 22 23
0  A  A  A  A  A  A  B  B  B  B  ...  C  C  C  C  D  D  D  D  D  D
1  B  B  C  C  D  D  A  A  C  C  ...  B  B  D  D  A  A  B  B  C  C
2  C  D  B  D  B  C  C  D  A  D  ...  A  D  A  B  B  C  A  C  A  B
3  D  C  D  B  C  B  D  C  D  A  ...  D  A  B  A  C  B  C  A  B  A

[4 rows x 24 columns]

In [102]:
# این هر سطر یه بازی بشه که جایگاه هر کدام هر خودش نوشته میشه
df=pd.DataFrame(Games(),index=naming_games())
df

         0  1  2  3
GAME_1   A  B  C  D
GAME_2   A  B  D  C
GAME_3   A  C  B  D
GAME_4   A  C  D  B
GAME_5   A  D  B  C
GAME_6   A  D  C  B
GAME_7   B  A  C  D
GAME_8   B  A  D  C
GAME_9   B  C  A  D
GAME_10  B  C  D  A
GAME_11  B  D  A  C
GAME_12  B  D  C  A
GAME_13  C  A  B  D
GAME_14  C  A  D  B
GAME_15  C  B  A  D
GAME_16  C  B  D  A
GAME_17  C  D  A  B
GAME_18  C  D  B  A
GAME_19  D  A  B  C
GAME_20  D  A  C  B
GAME_21  D  B  A  C
GAME_22  D  B  C  A
GAME_23  D  C  A  B
GAME_24  D  C  B  A

In [103]:
# اینم هر ستون را درست میکنه . یعنی برعکس میکنیم . که هر ستون یه بازی بشه
df=pd.DataFrame(Games(),index=naming_games())
df.T

,GAME_1,GAME_2,GAME_3,GAME_4,GAME_5,GAME_6,GAME_7,GAME_8,GAME_9,GAME_10,...,GAME_15,GAME_16,GAME_17,GAME_18,GAME_19,GAME_20,GAME_21,GAME_22,GAME_23,GAME_24
0,A,A,A,A,A,A,B,B,B,B,...,C,C,C,C,D,D,D,D,D,D
1,B,B,C,C,D,D,A,A,C,C,...,B,B,D,D,A,A,B,B,C,C
2,C,D,B,D,B,C,C,D,A,D,...,A,D,A,B,B,C,A,C,A,B
3,D,C,D,B,C,B,D,C,D,A,...,D,A,B,A,C,B,C,A,B,A